<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            table, th, td {
               text-align: left; border: 1px solid black;
              }
            
            .formDiv {
                display: inline-block;
            }
    </style>
    
</head>
<body>
    <h1>Welcome!Let's travel!</h1>
    <div class="formDiv">
        {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <h1>Registration</h1>
        <form action="/process_reg" method="POST">
            {% csrf_token %}
            First Name:<input type="text" name="FirstName"><br>
            Last Name:<input type="text" name="LastName"><br>
            Email:<input type="email" name="email"><br>
            Password:<input type="password" name="password"><br>
            Confirm Password:<input type="password" name="confirmpassword"><br>

            <input type="submit" value="Register">
             
        </form>
    </div>
    <div class="formDiv">
        <h1>Login</h1>
            <form action="/process_log" method="POST">
                {% csrf_token %}
                
                Email:<input type="email" name="email"><br>
                Password:<input type="password" name="password"><br>
    
                <input type="submit" value="LogIn">
    </div>
    
    






</body>


</html>